<div class="page-header row">
  <h1 class="col-md-8 page-heading"><%= t('blacklight.Web Archives for Longitudinal Knowledge') %></h1>
  <ul class="nav nav-pills col-md-4">
    <li><a href="https://dataverse.scholarsportal.info/dataverse/wahr">Derivative Data</a></li>
    <li><a href="http://webarchives.ca/">Old Portal</a></li>
    <li><a href="https://github.com/web-archive-group/WALK">GitHub</a></li>
    <li><a href="/static_pages/about">About</a></li>
  </ul>

</div>

<div id="getting-started">
  <h2 class='section-heading'>About this Project</h2>
  <p>This is the home of the Web Archives for Longitudinal Knowledge (WALK) Project, a collaborative effort by the University of Waterloo, the University of Alberta, and York University to bring Canadian Web archival partners together.</p>
</div>

<div id="carousel_CATEGORY1">
  <p> here </p>
<img class='carousel' 'src="../images/Example1.png" />
<div class="network_text" id="CATEGORY1"> Some text </div>
<img class='carousel' src="../images/Example2.png" />
<div class="network_text" id="CATEGORY1"> Some text </div>
<img class='carousel' src="../images/Example3.png" />
<div class="network_text" id="CATEGORY1"> Some text </div>
<img class='carousel' src="../images/Example4.png" />
<div class="network_text" id="CATEGORY1"> Some text </div>

</div>

<script>
  $(function() {
    $('#carousel_CATEGORY1').on('click', function(e) {
      alert("hey!");
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>
