<div class="page-header row">
  <h1 class="col-md-8 page-heading"><%= t('blacklight.Web Archives for Longitudinal Knowledge') %></h1>
  <ul class="nav nav-pills col-md-4">
    <li><a href="https://dataverse.scholarsportal.info/dataverse/wahr">Derivative Data</a></li>
    <li><a href="http://webarchives.ca/">Old Portal</a></li>
    <li><a href="https://github.com/web-archive-group/WALK">GitHub</a></li>
    <li><a href="/static_pages/about">About</a></li>
  </ul>


</div>

<div id="getting-started">
  <img src="/cpppig-visualization-small.png" alt="Political Link Graph" class="img-responsive" align="right">
  <p>Big Data is reshaping the historical profession and society in ways we are only now beginning to grasp. Tremendous new opportunities are opening up for social and cultural historians. Large web archives contain billions of webpages, from personal homepages to professional or academic websites, offering the ability to reconstruct large-scale aspects of the recent past. Yet the sheer size of these primary sources presents significant challenges: if the norm until the digital era was to have human information vanish, “now expectations have inverted. Everything may be recorded and preserved, at least potentially” (as James Gleick noted in his 2012 <em>The Information: A History, a Theory, a Flood</em>).</p>
  <p>Welcome to the <strong>Web Archives for Longitudinal Knowledge (WALK) Project</strong>. Spearheaded by the <a href="https://uwaterloo.ca/">University of Waterloo</a>, <a href="http://yorku.ca/">York University</a>, and the <a href="https://ualberta.ca/">University of Alberta</a>, we are bringing together Canadian partners to provide access to their collections.</p>
</div>
<div id="partners">
  <h2>Our partners</h2>
  <p>Our project provides access to the holdings of six partners across Canada. For each collection, click on the logo below to be brought to collections information, datasets, and search portals. Or dig in above to search them all!</p>
  <img src="/ualib-logo-500w.png" class="img-responsive" alt="Unviersity of Alberta Libraries" align="center" />
  <img src="/dalhousie.png" class="img-responsive" alt="Dalhousie University logo" align="center" />
  <img src="/sfu-logo@2x.png" class="img-responsive" alt="Simon Fraser University logo" align="center" />
  <a href="http://localhost:3000/static_pages/toronto"><img src="/UTL-logo-blue-500w.png" class="img-responsive" alt="Unviersity of Toronto Libraries" align="center" /></a>
  <img src="/UVIC_Logo.jpg" class="img-responsive" alt="Unviersity of Victoria Libraries" align="center" />
  <img src="/UW_horiz_rgb-black.png" class="img-responsive" alt="University of Winnipeg logo" align="center" />
</div>


<div id="acknowlgements">
  <h2>Acknowlegements</h2>
  <p>This research was supported by <a href="https://www.computecanada.ca/">Compute Canada</a> and the <a href="http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx">Social Sciences and Humanities Research Council of Canada</a>. Additional support was forthcoming from the <a href="https://www.ontario.ca/page/early-researcher-awards">Ontario Ministry of Research and Innovation's Early Researcher Award</a>.</p>
  <a href="http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx"><img src="/sshrc_fip_wordmark_eng.jpg" alt="Social Sciences and Humanities Research Council wordmark and logo" class="img-responsive" align="left"></a>
  <a href="https://www.computecanada.ca/"><img src="/biligual-cc-web-logo-flat-white.png" alt="Compute Canada wordmark and logo" class="img-responsive" align="left"></a>
  <a href="https://www.ontario.ca/page/early-researcher-awards"><img src="/ontario-logo.png" alt="Ontario logo" class="img-responsive" align="right"></a>

<script>
  $(function() {
    $('#about a').on('click', function(e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>