<div class="page-header row">
  <h1 class="col-md-8 page-heading"><%= t('blacklight.Web Archives for Longitudinal Knowledge') %></h1>
  <ul class="nav nav-pills col-md-4">
    <li><a href="https://dataverse.scholarsportal.info/dataverse/wahr">Derivative Data</a></li>
    <li><a href="http://webarchives.ca/">Old Portal</a></li>
    <li><a href="https://github.com/web-archive-group/WALK">GitHub</a></li>
    <li><a href="/static_pages/about">About</a></li>
  </ul>


</div>

<div id="getting-started">
  <img src="/cpppig-visualization-small.png" alt="Political Link Graph" class="img-responsive" align="right">
  <p>This website is home to the <strong>Web Archives for Longitudinal Knowledge (WALK) Project</strong>, an envisioned Canadian national Web Archiving portal. Spearheaded by the <a href="https://uwaterloo.ca/">University of Waterloo</a>, <a href="http://yorku.ca/">York University</a>, and the <a href="https://ualberta.ca/">University of Alberta</a>, we plan to bring together interested Canadian partners to provide access to their collections.</p>
  <p>Currently, this is a prototype site providing access to one such archive, the University of Toronto's Canadian Political Parties and Political Interest Groups collection. This website allows you to search content from 50 political parties and political interest groups, from October 2005 to March 2015.</strong></p>
  <p>Curious how the Liberal Party of Canada responded to the 2008 financial crisis (<a href="/?f%5Bdomain%5D%5B%5D=liberal.ca&q=recession&search_field=all_fields">a search for "recession" in 2008, liberal.ca</a>)? How the Canadian Centre for Policy Alternatives <a href="/?f%5Bdomain%5D%5B%5D=policyalternatives.ca&q=%22Michael+Ignatieff%22&search_field=all_fields">reacted to Michael Ignatieff</a>? Now you can check it all out.</p>
</div>
<div id="partners">
  <h2>Our partners</h2>
  <p>Our project provides access to the holdings of six archival partners across Canada.</p>
  <img src="/ualib-logo-500w.png" class="img-responsive" alt="Unviersity of Alberta Libraries" align="center" />
  <img src="/dalhousie.png" class="img-responsive" alt="Dalhousie University logo" align="center" />
  <img src="/sfu-logo@2x.png" class="img-responsive" alt="Simon Fraser University logo" align="center" />
  <img src="/UTL-logo-blue.png" class="img-responsive" alt="Unviersity of Toronto Libraries" align="center" />
  <img src="/UVIC_Logo.jpg" class="img-responsive" alt="Unviersity of Victoria Libraries" align="center" />
  <img src="/UW_horiz_rgb-black.png" class="img-responsive" alt="University of Winnipeg logo" align="center" />
</div>


<div id="acknowlgements">
  <h2>Acknowlegements</h2>
  <p>This research was supported by <a href="https://www.computecanada.ca/">Compute Canada</a> and the <a href="http://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx">Social Sciences and Humanities Research Council of Canada</a>. Additional support was forthcoming from the <a href="https://www.ontario.ca/page/early-researcher-awards">Ontario Ministry of Research and Innovation's Early Researcher Award</a>.</p>
  <img src="/sshrc_fip_wordmark_eng.jpg" alt="Social Sciences and Humanities Research Council wordmark and logo" class="img-responsive" align="center">
  <img src="/biligual-cc-web-logo-flat-white.png" alt="Compute Canada wordmark and logo" class="img-responsive" align="center">
  <img src="/ontario-logo.png" alt="Ontario logo" class="img-responsive" align="center">

<script>
  $(function() {
    $('#about a').on('click', function(e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>