// Place all the styles related to the Description controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

figure {
border: 1px dotted gray;
}
figure a img {
float: left;
width: "22%";
margin-right: "1%";
margin-bottom: 0.5em
}

figure figcaption {
border: 1px dotted blue;
text-align: center;
float:left;
}
